@media only screen and (max-width: 767px) and (min-width: 320px) {
  ul.navbar-nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: start;
  }

  ul.navbar-nav li.nav-item {
    margin: 6px 10px;
  }

  ul.navbar-nav li.nav-item a.nav-link {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .main-top h4 {
    font-size: 14px;
  }

  ul.navbar-nav li.nav-item:hover ul.dropdown-area.show {
    display: block;
    position: relative;
    width: 100%;
    top: 0;
    transition: all 0.5s ease-in-out;
    margin-top: 15px;
    right: 0;
  }

  ul.dropdown-area {
    display: none;
  }

  ul.navbar-nav li.nav-item a.nav-link span.navbar-dropdown-icon svg {
    font-size: 22px;
  }

  ul.navbar-nav li.nav-item ul.dropdown-area li a:after {
    visibility: visible;
    opacity: 1;
  }

  span.navbar-dropdown-icon {
    font-size: 20px;
    top: -2px;
    position: absolute;
    right: 0;
    width: 20px;
    margin-left: auto;
  }

  .banner-slide-box img {
    height: 180px;
}

  .about-img img {
    border-radius: 3px;
  }

  .about-img:after {
    display: none;
  }

  .about-img:before {
    left: 0px;
    bottom: 40px;
  }

  .as_contact_expert > div {
    width: 225px;
  }

  .services-box:before {
    width: 100%;
    height: 50%;
    top: auto;
    bottom: 0;
  }

  .services-content {
    width: 100%;
    padding: 20px 10px 50px;
  }

  .services-img {
    margin: 0 auto;
    transform: translateY(0);
    position: relative;
    right: 0;
    top: -20px;
    width: 270px;
    height: 250px;
    object-fit: cover;
}

  .services-box {
    flex-direction: column;
  }

  .bg-img img {
    height: 180px;
  }

  .other-services-img img {
    height: 280px;
}

  .contact-img {
    margin-bottom: 20px;
  }

  .footer-box {
    margin-bottom: 20px;
    border-bottom: 1px dashed #fff;
  }

  .footer-box ul {
    padding-bottom: 20px;
  }

  .footer-box ul li {
    padding: 5px 0;
  }

  .footer-box2 > ul {
    border-bottom: 1px dashed #fff;
    padding-bottom: 20px;
  }

  section.breadcrumb-area {
    height: 220px;
  }
  .about-img {
    margin-top: 20px;
  }

  .breadcrumb-content h1 {
    font-size: 30px;
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  ul.navbar-nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: start;
  }

  span.navbar-dropdown-icon {
    float: right;
    font-size: 20px;
    top: -2px;
  }

  ul.navbar-nav li.nav-item {
    margin: 6px 10px;
  }

  ul.navbar-nav li.nav-item a.nav-link {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
  }

  .main-top h4 {
    font-size: 14px;
  }

  ul.navbar-nav li.nav-item:hover ul.dropdown-area.show {
    display: block;
    position: relative;
    width: 100%;
    top: 0;
    transition: all 0.5s ease-in-out;
    margin-top: 15px;
    right: 0;
  }

  ul.dropdown-area {
    display: none;
  }

  ul.navbar-nav li.nav-item a.nav-link span.navbar-dropdown-icon svg {
    font-size: 22px;
  }

  ul.navbar-nav li.nav-item ul.dropdown-area li a:after {
    visibility: visible;
    opacity: 1;
  }

  .other-services-img img {
    height: 200px;
  }

  .contact-img {
    margin-bottom: 20px;
  }

  .as_contact_expert > div {
    width: 180px;
  }

  .services-box:before {
    width: 100%;
    height: 50%;
    top: auto;
    bottom: 0;
  }

  .as_contact_expert a.as_orange {
    font-size: 22px;
  }

  .services-content {
    width: 100%;
    padding: 20px 10px 50px;
  }

  .services-img {
    margin: 0 auto;
    transform: translateY(0);
    position: relative;
    right: 0;
    top: -20px;
    width: 260px;
  }

  .services-box {
    flex-direction: column;
  }

  .about-img:after {
    top: 19px;
    right: 40px;
    width: 327px;
    height: 378px;
  }

  .banner-slide-box img {
    height: 400px;
  }

  .bg-img img {
    height: 340px;
  }

  .services-list-area ul li a {
    padding: 0 10px;
    font-size: 12px;
    line-height: 40px;
  }

  .services-inner-img img {
    height: 260px;
  }
}

@media only screen and (max-width: 1099px) and (min-width: 992px) {
  .services-list-area ul li a {
    padding: 0 20px;
    font-size: 16px;
    line-height: 50px;
}
}
@media only screen and (max-width: 1920px) and (min-width: 1400px) {
  .banner-slide-box img {
    height: 600px;
  }
  .other-services-img img {
    height: 200px;
  }
}
